@model MyWeeFee.Models.Accesspoint

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accesspoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SSID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SSID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Encryption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Encryption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändern</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
